:root {
  --xsmall-custon-text: clamp(0.25rem, 0.5vw, 1rem);
  --small-custom-text: clamp(0.5rem, 1vw, 2rem);
  --medium-custom-text: clamp(2rem, 3vw, 5rem);
  --big-custom-text: clamp(5rem, 7vw, 10rem);
  --light-black: rgb(20, 20, 20)
}

body {
  background-color: var(--light-black);
  margin: 0px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  user-select: none;
}

.backgroundPolkadot {
  position: absolute;
  z-index: -1;
  background: radial-gradient(
    rgba(255, 255, 255, 0.15) 8%,
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: 105%;
  width: 105%;
}

.lettersPerSecond{
  font-size: var(--small-custom-text);
}

.wordWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.wordBox {
  background-color: transparent;
  border-radius: 50px;
  border-color: rgb(120, 120, 120);
  color: white;
  height: 8vh;
  width: 20vw;
  font-size: var(--medium-custom-text);
  font-family: 'Montserrat', sans-serif;
  padding-left: 2rem;
}

.gameButtonWrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gameButton {
  font-size: var(--small-custom-text);
  cursor: default;
}

.pointsCounter {
  font-size: var(--medium-custom-text);
}

button {
  background-color: transparent;
  color: white;
  border-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

.multiUpgradesContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.multiUpgradesButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  font-size: var(--small-custom-text);
}

.passivePointsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: var(--medium-custom-text);
}

.upgradesTable {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  gap: 1rem;
  font-size: var(--small-custom-text);
}

.upgradeWrapper {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.upgradeTypeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
}

.upgradeTypeWrapper > h2 {
  font-size: var(--small-custom-text);
}

.upgradeTypeWrapper > .upgradesDesc {
  font-size: var(--xsmall-custon-text);
  text-align: center;
}

.wordToGuessContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.wordToGuess {
  font-size: var(--big-custom-text);
}

.tabsContainer {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  overflow: hidden;
  padding: 0 2rem;
}

.hoverEffectContainer:hover > .hoverEffectChild {
  opacity: 0.3;
  cursor: default;
}

.hoverEffectContainer:hover > .hoverEffectChild:hover {
  opacity: 1;
  transform: scale(1.1);
}


.hoverEffectChild {
  transition: opacity 400ms ease;
  transition: transform 50ms ease-in;
}

.menuButton{
  font-size: var(--medium-custom-text);
}

.cardsHeaderContainer{
  text-align: center;
  font-size: var(--medium-custom-text);
}

.cardsButton{
  background: linear-gradient(to right, transparent, #EDCBB1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.challengeTimer {
  position: absolute;
}

.challengesRow {
  display: flex;
}

.prestigePointsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.prestigeProgressContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--small-custom-text);
}